<nav class=" navbar-default navbar-top" style="background-color: white;" >
  <div class="container">
    <div class="navbar-header d-inline-block">
      <a class="navbar-brand" href="/">
        Cyril Ferte
      </a>
    </div>
    <div class=" pull-right">
   <a  class=" btn-xs navbar-text navbar-right text-right none" href="/" style="text-decoration:none">
  <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Contact
</a></div>
  </div>
</nav>
<style>.none {

  text-decoration: none;
}
  .none:hover {
    color:#9b59b6;
  text-decoration: none;
  color:#9b59b6;
  }
</style>